* {
    box-sizing: border-box;
}
/* variables */
:root{
    /* colors */
    
    /* background-image: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%)); */

    --btn-clr-gradient: linear-gradient(to right, var(--color-Lime-Green), var(--color-Bright-Cyan));

    /* ### Primary */

    --color-Dark-Blue: hsl(233, 26%, 24%);
    --color-Lime-Green: hsl(136, 65%, 51%);
    --color-Bright-Cyan: hsl(192, 70%, 51%);

    /* ### Neutral */

    --color-Grayish-Blue: hsl(233, 8%, 62%);
    --color-Light-Grayish-Blue: hsl(220, 16%, 96%);
    --color-Very-Light-Gray: hsl(0, 0%, 98%);
    --color-White: hsl(0, 0%, 100%);

    /* font family */
    --font-family: 'Public Sans', sans-serif;
    /* font-size */
    --base-font-size: 18px;

}

html{
    font-family: var(--font-family);
    font-size: var(--base-font-size);
}

.header{
    border: 2px solid red;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer{
    border: 2px solid red;
    background-color: var(--color-Dark-Blue);
    color: var(--color-White);
    height: 20%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-logo{
    border: 2px solid red;
    color: var(--color-White);
    /* to make easybank white */
}
.socialmedia-handles{
    border: 2px solid red;
    width: 40vw;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}
.footer-items{
    border: 2px solid red;
    height: 50%;
    width: 100%;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}
.btn-invite{
    border: 2px solid red;
    background-image: var(--btn-clr-gradient);
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem;
    /* border: none; */
    color:hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: .75rem;
}
.footer-copyright-text{
    border: 2px solid red;
    color:hsl(233, 8%, 62%);
    font-size: .75rem;
}
